.profile__name {
  color: #ffffff;
  text-align: center;
  margin-top: 25px;
}

.profile__balance {
  margin-top: 3px;
  font-size: 18px;
  font-weight: 300;
}

.profile-page__photo {
  margin: auto;
  padding-bottom: 15px;
  border-bottom: 1.5px solid #148d55;;
}

.output__info {
  text-align: center;
  font-size: 16px;
  margin-top: -2vh;
}
